
html {
    width: 100%;
    height: 100%;

}

body {
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Roboto Slab';
    font-size: 120%;
}




@media only screen and (min-width: 600px) {
    body {
        font-size: 160%;
    }



}


a {

    color: #00ffff;
}

a:hover {

    color: #00ffff;
    text-decoration: underline;
}

a:visited {
    color: #00ffff;
}

button {

    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;}
.minne.img-responsive {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 300px;
}

/* Scrollmenu */
.navbar {
    position: fixed;
    z-index: 200;
    top: 20px; 
    right: 20px;
    font-size: 200%;
    visibility: hidden;
}

.top-nav-collapse {

    visibility: visible;
}


/* Glyphicons Comment Form */
.form-group input[type="radio"]{
    display: none;
}
.form-group label.fa {
    color: #ffffff;
    font-size: 48px;
    cursor: pointer;
}

.form-group input#tevreden:checked + label {
    color: green;
}

.form-group input#voldoende:checked + label {
    color: orange;
}

.form-group input#ontevreden:checked + label {
    color: red;
}

input#ontevreden:hover {
    color: red;
}

#ontevreden input[type="radio"]:hover{
        color:#red;
    }

/*.fa.fa-smile-o {
    color: #ffffff;
    font-size:48px;
}

.fa.fa-smile-o:hover {
    color: green;
    text-decoration: none;
}

.fa.fa-smile-o:active {
    color: green;
    text-decoration: none;
}

.fa.fa-meh-o {
    color: #ffffff;
    font-size:48px;
}

.fa.fa-meh-o:hover {
    color: orange;
    text-decoration: none;
}

.fa.fa-frown-o {
    color: #ffffff;
    font-size:48px;
}

.fa.fa-frown-o:hover {
    color: red;
    text-decoration: none;
}

.fa.fa-frown-o:active {
    color: red;
    text-decoration: none;
}
*/


.intro-section {
    height: 100%;
    text-align: center;
    background: url('../img/krijtbord.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    display: flex;
  justify-content: center;
  align-items: center;
}
    

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #2b4254;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: url('https://scontent-fra3-1.xx.fbcdn.net/hphotos-xpa1/v/l/t1.0-9/12687915_516231435222757_1835701405063785261_n.jpg?oh=39c54847915839528196634589b57ab2&oe=57230593') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.contact-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #2b4254;

}



